.nav-link {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.car-info {
  background: whitesmoke;
  height: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;

  .car-details {
    display: flex;
    justify-content: space-between;

  }
  img {
    width: 220px;
    height: 180px;
    border-radius: 5%;
    object-fit: cover;
  }
  .headings {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    margin-left: 16px;
    margin-top: 16px;
    color: black;
    .brand {
      font-weight: bolder;
      margin-bottom: 0;
    }
    p {
      font-size: large;
    }
  }
  .rent {
    position:absolute;
    right: 30px;
    bottom: 20px;
    font-weight: bolder;

  }
}
a {
  text-decoration: none;
}
