<div class="container mt-5">

 <h1>Booking Dashboard</h1>

  <div class="main d-flex">
    <h4 class ="bookings p-1">My bookings</h4>
    <h4 class="listing p-1 ms-5" >My Listing</h4>
  </div>

  <% @bookings.each do |booking| %>
    <%= booking.car.brand %>

  <% end %>

</div>
