<nav class="nav my-3">
  <div class="container">
    <%= image_tag("logo.png") %>
    <li>
      <%= link_to "Rent", cars_path %>
      <%= link_to "List a car", new_car_path %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
      <%#= link_to "Sign-up", cars_new_path, class:"btn btn-secondary" %>
    </li>
  </div>
</nav>
