.button-fancy-gradient {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  // transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    // transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}
