.form {
  width: 40%;

  input{
    border-radius: 8px;
  }
  .btn {
    width: 40%;
  }

  .btn-primary{
    background-color: #1A80E5;
  }
  .btn-secondary {
    border-radius: 24px;
    background-color: #E8EDF2;
    border: none;

    a {
      color:#0A141F ;
    }
  }
}
