.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 10%;
  }
  li a {
    text-decoration: none;
    padding: 0 16px;
    color: #0d141c;

    &:hover {
      color: #1a80e5;
    }
  }
  .btn {
    border-radius: 10em;
    padding: 8px 20px;
    color: white;

    &:hover {
      color: whitesmoke;
    }
  }

  .btn-secondary{
    background-color: #E8EDF2;
    border: none;
    color: #0d141c;

    &:hover {
      color: #1a80e5;
    }
  }
}
