.car-new{
  background-color: white;
  width:500px;
  margin:0 auto;
}
.car-new .other-details{
  position: relative;
  left: 400px;
  bottom:540px;
}
.car-new .main-details{
  position: relative;
  right:300px;
}
body{
background-color: white;
}

.car-new input[type="submit"]{
  width:500px;
  height:50px;
  border-radius: 20px;
  margin-top:30px;
}

.car-new input[type="text"], input[type="number"], input[type="file"], .car-new select{
  border: 1.5px solid blue;
  border-radius: 20px;
  background-color: white;
}
body h1{
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
